{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <article class="wrapper" id="profile-edit-article">
        <section id="profile-edit-left">
            <ul>
                <a href="{% url 'instagram:profile_edit' %}">
                    <li>프로필 편집</li>
                </a>
                <li class="clicked"><b>비밀번호 변경</b></li>
            </ul>
        </section>
        <section id="profile-edit-right">
            <form method="POST" enctype="multipart/form-data" class="profile-edit-form">
                {% csrf_token %}
                <div class="profile-edit-form-div">
                    <div class="image-box">
                        {% if user.user_image %}
                        <img src="{{ user.user_image.image.url }}" class="profile-image">
                        {% else %}
                        <img src="{% static 'image/profile.jpg' %}" class="profile-image">
                        {% endif %}
                    </div>
                    <div class="profile-edit-username-div">
                        <h2 class="profile-edit-form-username">{{ user.username }}</h2>
                    </div>
                </div>
                {{ form.as_p }}
                <p>
                    <input type="submit" value="비밀번호 변경" id="profile-edit-form-submit">
                </p>
            </form>
            {% for message in messages %}
            {{ message.tags }}
            {{ message.message }}
            {% endfor %}
        </section>
    </article>
</main>
{% endblock body %}