{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<script defer src="{% static 'js/toggle_index.js' %}"></script>
<script defer>
    const user = "{{ user }}";
    const postURL = "{% url 'instagram:post_detail' pk='❤' %}";
    const updateURL = "{% url 'instagram:update' pk='❤' %}";
    const deleteURL = "{% url 'instagram:delete' pk='❤' %}";
    const followURL = "{% url 'instagram:follow' username='❤' %}";
</script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <div id="feed">
        <article class="follow-wrapper" id="follower">
            {% for following in user.following.all %}
            {{ following.follower }}
            {% endfor %}
        </article>
        <br>
        <article>
            {% for post in posts %}
            <section class="post-wrapper">
                <section class="post-top">
                    <div class="post-user feed-post">
                        <div class="image-box">
                            <a href="{% url 'instagram:profile' username=post.author %}">
                                <img src="{{ post.author.user_image.image.url }}" alt="" class="profile-image"></a>
                        </div>
                        <a href="{% url 'instagram:profile' username=post.author %}"
                            class="user-href">{{ post.author }}</a>
                    </div>
                    <div class="post-btn">
                        <img src="{% static 'image/horiz.png' %}" data-id-one="{{ post.author }}"
                            data-id-two="{{ post.pk }}">
                    </div>
                </section>
                <section class="post-mid">
                    <a href="{% url 'instagram:post_detail' pk=post.pk %}"><img src="{{ post.main_image.url }}"
                            class="post-image"></a>
                </section>
                <section class="post-bot feed-post">
                    <div class="post-like">좋아요 {{ post.like_set.all|length }}개</div>
                    <div>
                        {% if post.main_comment %}
                        <div class="post-comment">
                            <span class="comment-author">
                                <a href="{% url 'instagram:profile' username=post.author %}"
                                    class="user-href">{{ post.author }}</a>
                            </span>
                            <span class="comment-text">{{ post.main_comment }}
                                {% for tag in post.posttag_set.all %}
                                <a href="{% url 'instagram:search' %}?search_for={{ tag.text }}"
                                    class="hash-tag-href">{{ tag.text }}</a>{% endfor %}
                            </span>
                        </div>
                        {% for comment in post.comment_set.all|slice:":2" %}
                        <div class="post-comment">
                            <span class="comment-author">
                                <a href="{% url 'instagram:profile' username=comment.author %}"
                                    class="user-href">{{ comment.author }}</a>
                            </span>
                            <span class="comment-text">
                                {{ comment.text }}
                                {% for tag in comment.hashtag_set.all %}
                                <a href="{% url 'instagram:search' %}?search_for={{ tag.text }}"
                                    class="hash-tag-href">{{ tag.text }}</a>{% endfor %}
                            </span>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% for comment in post.comment_set.all|slice:":3" %}
                        <div class="post-comment">
                            <span class="comment-author">
                                <a href="{% url 'instagram:profile' username=comment.author %}"
                                    class="user-href">{{ comment.author }}</a>
                            </span>
                            <span class="comment-text">
                                {{ comment.text }}
                                {% for tag in comment.hashtag_set.all %}
                                <a href="{% url 'instagram:search' %}?search_for={{ tag.text }}"
                                    class="hash-tag-href">{{ tag.text }}</a>{% endfor %}
                            </span>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="post-create-date">
                        {{ post.create_date }}{% if post.create_date != post.update_date %}(수정됨){% endif %}</div>
                </section>
            </section>
            <br>
            {% endfor %}
        </article>
    </div>
</main>
<aside>
    <a href="{% url 'instagram:profile' username=user.username %}">{{ user.username}}</a>
    {% for message in messages %}
    {{ message.tags }}
    {{ message.message }}
    {% endfor %}
</aside>

{% endblock body %}