{% extends 'base.html' %}

{% block body %}

<form action="{% url 'registration:logout' %}">
    <input type="submit" value="Log Out">
</form>

{{ user.username }}
{{ error }}

<form action="{% url 'instagram:post' %}">
    <input type="submit" value="Posting">
</form>

{% for post in user.post_set.all %}
<a href="{% url 'instagram:post_detail' pk=post.pk %}">{{ post.title }}</a>
{% for image in post.image_set.all %}
<img src="{{ image.image.url }}">
{% endfor %}
<br>
{% endfor %}

{% endblock body %}