{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <div id="feed">
        <article class="wrapper" id="follower">
            {% for follower in user.follower.all %}
            {{ follower.following }}
            {% endfor %}
        </article>
        <br>
        <article>
            {% for post in posts %}
            <section class="wrapper">
                <div>
                    <a href="{% url 'instagram:user_detail' username=post.author %}">{{ post.author }}</a>
                </div>
                <div>
                    <a href="{% url 'instagram:post_detail' pk=post.pk %}"><img src="{{ post.main_image.url }}"></a>
                </div>
                <div>
                    Like {{ post.like_set.all|length }}
                </div>
                <div>
                    {% for comment in post.comment_set.all|slice:":3" %}
                    <div>
                        {{ comment.author }}
                        {{ comment.text }}
                    </div>
                    {% endfor %}
                </div>
                <div>
                    {{ post.create_date }}
                </div>
            </section>
            <br>
            {% endfor %}
        </article>
    </div>
</main>
<aside>
    <a href="{% url 'instagram:user_detail' username=user.username %}">{{ user.username}}</a>
    {% for message in messages %}
    {{ message.tags }}
    {{ message.message }}
    {% endfor %}
</aside>

{% endblock body %}