{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<script>
    const user = "{{ user }}";
    const isFollowing = "{{ followed }}";
    const postURL = "{% url 'instagram:post_detail' pk=post.pk %}";
    const updateURL = "{% url 'instagram:update' pk=post.pk %}";
    const deleteURL = "{% url 'instagram:delete' pk=post.pk %}";
    const followURL = "{% url 'instagram:follow' username=post.author %}";
    const commentURL = "{% url 'instagram:comment_delete' pk=post.pk comment_pk='❤' %}";
</script>
<script defer src="{% static 'js/toggle_post.js' %}"></script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <article class="post-wrapper post-detail">
        <section class="post-left">
            <img src="{{ post.main_image.url }}" alt="" class="post-image">
        </section>
        <section class="post-right">
            <section class="post-top">
                <div class="post-user feed-post">
                    <div class="image-box">
                        <a href="{% url 'instagram:profile' username=post.author %}">
                            <img src="{{ post.author.profile.user_image.url }}" alt="" class="profile-image"></a>
                    </div>
                    <a href="{% url 'instagram:profile' username=post.author %}" class="user-href">{{ post.author }}</a>
                </div>
                <div class="post-btn">
                    <img src="{% static 'image/horiz.png' %}" data-id-one="{{ post.author }}"
                        data-id-two="{{ post.pk }}">
                </div>
            </section>
            <section class="post-mid border-light-top">
                {% if post.postcomment.text or post.posttag_set.all|length > 0 %}
                {{ post.postcomment.create_date }}
                {{ post.postcomment.update_date }}
                <div class="post-user feed-post">
                    <div class="image-box">
                        <a href="{% url 'instagram:profile' username=post.author %}">
                            <img src="{{ post.author.profile.user_image.url }}" alt="" class="profile-image"></a>
                    </div>
                    <div class="comment-div">
                        <div>
                            <a href="{% url 'instagram:profile' username=post.author %}"
                                class="user-href">{{ post.author }}</a>
                            <span class="comment-text">
                                {{ post.postcomment.text }}
                                {% for tag in post.posttag_set.all %}
                                <a href="{% url 'instagram:search' search_for=tag.text %}"
                                    class="hash-tag-href">{{ tag.text }}</a>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="comment-create-date">
                            {{ post.create_date_string }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for comment in comments %}
                <div class="post-user feed-post">
                    <div class="image-box">
                        <a href="{% url 'instagram:profile' username=comment.author %}">
                            <img src="{{ comment.author.profile.user_image.url }}" alt="" class="profile-image"></a>
                    </div>
                    <div class="comment-div">
                        <div>
                            <a href="{% url 'instagram:profile' username=comment.author %}"
                                class="user-href">{{ comment.author }}</a>
                            <span class="comment-text">
                                {{ comment.text }}
                                {% for tag in comment.hashtag_set.all %}
                                <a href="{% url 'instagram:search' search_for=tag.text %}"
                                    class="hash-tag-href">{{ tag.text }}</a>{% endfor %}
                            </span>
                        </div>
                        <div class="comment-create-date">
                            {{ comment.create_date_string }}
                            {% if comment.author == user %}
                            <span class="comment-btn">
                                <img src="{% static 'image/horiz.png' %} " data-id-one="{{ comment.pk }}">
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
            <section class="post-bot">
                <div class="border-light-top post-bot-top">
                    <div class="image-box">
                        <a href="{% url 'instagram:like' pk=post.pk %}">
                            {% if liked %}
                            <img src="{% static 'image/notice_black.png' %}" alt="" class="profile-image">
                            {% else %}
                            <img src="{% static 'image/notice.png' %}" alt="" class="profile-image">
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-like">좋아요 {{ post.like_set.all|length }}개</div>
                    <div class="post-create-date">
                        {{ post.postcomment.create_date_string }}{% if post.postcomment.create_date != post.postcomment.update_date %}(수정됨){% endif %}
                    </div>
                </div>
                <form action="{% url 'instagram:comment_create' pk=post.pk %}" method="POST"
                    class="post-bot-bot border-light-top">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="게시">
                </form>
            </section>
        </section>
    </article>
</main>

{% endblock body %}