{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<script defer src="{% static 'js/post.js' %}"></script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <div class="post-wrapper">
        <div class="post-top">
            <h1>글쓰기</h1>
        </div>
        <div class="post-mid"></div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="multiple_container">
                <img src="{% static 'image/dummy_image.jpg' %}" class="post-image" id="dummy_image">
            </div>
            <table>
                {{ post_form.as_table }}
                {{ image_form.as_table }}
                {{ comment_form.as_table }}
            </table>
            <input type="submit" value="Upload">
        </form>
    </div>
</main>
{% endblock body %}