{% extends 'base.html' %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<script defer src="{% static 'js/post.js' %}"></script>
<div class="wrapper">
    <div>
        <h1>글쓰기</h1>
        {{ error }}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <img src="{% static 'image/dummy_image.jpg' %}" id="dummy_image">
            <table>
                {{ post_form.as_table }}
                {{ image_form.as_table }}
            </table>
            <div id="multiple_container"></div>
            <input type="submit" value="Upload">
        </form>
    </div>
</div>
{% endblock body %}