{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<script defer src="{% static 'js/profile_edit.js' %}"></script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <article class="wrapper" id="profile-edit-article">
        <section id="profile-edit-left">
            <ul>
                <li class="clicked"><b>프로필 편집</b></li>
                <a href="{% url 'instagram:change_password' %}">
                    <li>비밀번호 변경</li>
                </a>
            </ul>
        </section>
        <section id="profile-edit-right">
            <form method="POST" enctype="multipart/form-data" class="profile-edit-form">
                {% csrf_token %}
                <div class="profile-edit-form-div">
                    <div class="image-box">
                        {% if user.user_image %}
                        <img src="{{ user.user_image.image.url }}" class="profile-image" id="profile-image">
                        {% else %}
                        <img src="{% static 'image/profile.jpg' %}" class="profile-image" id="profile-image">
                        {% endif %}
                    </div>
                    <div class="profile-edit-username-div">
                        <h2 class="profile-edit-form-username">{{ user.username }}</h2>
                        <div class="file-box">
                            {{ user_image_form }} | <a href="{% url 'instagram:change_profile_image' %}">초기화</a>
                        </div>
                    </div>
                </div>
                <input type="submit" id="change-profile-image-btn" hidden>
            </form>
        </section>
    </article>
</main>
{% endblock body %}