{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<script defer src="{% static 'js/toggle_follow.js' %}"></script>
<script defer>
    const user = "{{ user }}";
    const followURL = "{% url 'instagram:follow' username='❤' %}";
</script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <section id="profile-top">
        {% if user_.user_image %}
        <div class="image-box">
            <img src="{{ user_.user_image.image.url }}" class="profile-image">
        </div>
        {% else %}
        <div class="image-box">
            <img src="{% static 'image/profile.jpg' %}" class="profile-image">
        </div>
        {% endif %}
        <div id="profile-info">
            <div class="flex-row" id="profile-info-top">
                <h2>{{ user_.username }}</h2>
                {% if user_ == user %}
                <a href="{% url 'instagram:profile_edit' %}" class="btn">프로필 편집</a>
                {% elif followed == "True" %}
                <div class="unfollow-btn" data-id-one="{{ user_.username }}"><img src="{% static 'image/follow.png' %}"
                        alt="" data-id-one="{{ user_.username }}"><img src="{% static 'image/check.png' %}" alt=""
                        data-id-one="{{ user_.username }}"></div>
                {% else %}
                <a href="{% url 'instagram:follow' username=user_.username %}" class="follow-btn"><b>팔로우</b></a>
                {% endif %}
            </div>
            <div class="flex-row" id="profile-info-bot">
                <p>게시물 <b>{{ user_.post_set.all|length }}</b></p>
                <p>팔로워 <b>{{ user_.follower.all|length }}</b></p>
                <p>팔로우 <b>{{ user_.following.all|length }}</b></p>
            </div>
        </div>
    </section>
    <hr class="margin">
    <section id="profile-bot">
        <article class="grid-wrapper">
            <nav id="profile-nav">
                <a>게시물</a>
                <a>릴스</a>
                <a>동영상</a>
                <a>태그 됨</a>
            </nav>
        </article>
        <article class="posts">
            {% for post in user_.post_set.all|dictsortreversed:"create_date" %}
            <a href="{% url 'instagram:post_detail' pk=post.pk %}">
                <img src="{{ post.main_image.url }}" class="post-image">
            </a>
            {% endfor %}
        </article>
    </section>
</main>


{% endblock body %}