{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<script>
    const currentGender = "{{ user.profile.gender }}"
    let customGender
    if (currentGender === "custom") {
        customGender = "{{ user.profile.custom_gender }}"
    }
</script>
<script defer src="{% static 'js/profile_edit.js' %}"></script>
<script defer src="{% static 'js/toggle_profile_edit.js' %}"></script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <article class="wrapper" id="profile-edit-article">
        <section id="profile-edit-left">
            <ul>
                <li class="clicked"><b>프로필 편집</b></li>
                <a href="{% url 'instagram:change_password' %}">
                    <li>비밀번호 변경</li>
                </a>
                <a href="{% url 'registration:delete_account' %}">
                    <li>계정 삭제</li>
                </a>
            </ul>
        </section>
        <section id="profile-edit-right">
            <form method="POST" enctype="multipart/form-data" class="profile-edit-form">
                {% csrf_token %}
                <div class="profile-edit-form-div">
                    <div class="image-box">
                        <img src="{{ user.profile.user_image.url }}" class="profile-image" id="profile-image">
                    </div>
                    <div class="profile-edit-username-div">
                        <h2 class="profile-edit-form-username">{{ user.username }}</h2>
                        <div class="file-box">
                            {{ user_image_form }} | <a href="{% url 'instagram:reset_profile_image' %}">초기화</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="image_change">
                <input type="submit" id="change-profile-image-btn" hidden>
            </form>
            <form class="profile-edit-form-bot" method="POST">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <p>
                    <label for="">성별</label>
                    <input type="button"
                        value="{% if user.profile.gender == "custom" %}{{ user.profile.custom_gender }}{% else %}{{ user.profile.gender }}{% endif %}"
                        id="gender-btn">
                    <input type="hidden" name="gender" value="{{ user.profile.gender }}" id="gender-value">
                </p>
                <p>
                    <label for=""></label>
                    <input type="submit" value="제출" class="profile-edit-form-submit">
                </p>
            </form>
        </section>
    </article>
</main>
<article id="gender-select-view">
    <div class="background-div"></div>
    <div id="gender-select-form">
        <div id="gender-select-form-top">
            <b>성별</b>
            <img src="{% static 'image/close.png' %}" alt="" id="gender-select-exit-btn">
        </div>
        <div id="gender-select-form-bot">
            <fieldset id="gender-select-fieldset">
                <span>
                    <input type="radio" name="gender" id="male-radio"><b>남성</b>
                </span>
                <span>
                    <input type="radio" name="gender" id="female-radio"><b>여성</b>
                </span>
                <span>
                    <input type="radio" name="gender" id="custom-radio"><b>맞춤 성별</b>
                    <input type="text" name="custom-gender" id="custom-text" maxlength="12" placeholder="맞춤 성별">
                </span>
                <span>
                    <input type="radio" name="gender" id="conceal-radio"><b>밝히고 싶지 않음</b>
                </span>
            </fieldset>
            <input type="button" value="선택 완료" class="profile-edit-form-submit" id="gender-select-submit-btn">
        </div>
    </div>
</article>

</article>
{% endblock body %}