{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    {% if request.method == "POST" %}
    <h2>Search for {{ search_for }}</h2>
    <h2>Search Result:</h2>
    {% for item in search_result %}
    {% if target == "hashtag" %}
    <a href="{% url 'instagram:post_detail' pk=item.pk %}"><img src="{{ item.main_image.url }}"></a>
    {% else %}
    <a href="{% url 'instagram:user_detail' username=item.username %}">{{ item.username }}</a>
    {% endif %}
    <br>
    {% empty %}
    검색 결과 없음.
    {% endfor %}
    {% endif %}
</main>

{% endblock body %}