{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<script defer>
    const user = "{{ user }}";
    const followURL = "{% url 'instagram:follow' username='❤' %}";
</script>
<script defer src="{% static 'js/toggle_follow.js' %}"></script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <article id="search-result">
        {% if request.method == "GET" %}
        {% if target == "both" %}
        <section id="search-result-user">
            <h3>회원</h3>
            {% for user_ in user_result %}
            <div class="flex-row">
                <div class="image-box">
                    <a href="{% url 'instagram:profile' username=user_.username %}">
                        {% if user_.profile %}
                        <img src="{{ user_.profile.user_image.url }}" alt="" class="profile-image">
                        {% else %}
                        <img src="{% static 'image/profile.jpg' %}" class="profile-image">
                        {% endif %}
                    </a>
                </div>
                <div class="search-result-user-div">
                    <div class="search-result-user-info">
                        <a href="{% url 'instagram:profile' username=user_.username %}"
                            class="search-result-user">{{ user_.username }}</a>
                        <span class="flex-row">
                            <p><b>{{ user_.profile.name }}</b></p>
                            <p>팔로워 <b>{{ user_.follower.all|length }}</b></p>
                        </span>
                        <p class="user-introduction">{{ user_.profile.introduction }}</p>
                    </div>
                    {% if user_ == user %}
                    <a href="{% url 'instagram:profile_edit' %}" class="btn">프로필 편집</a>
                    {% elif user_ in follow_result %}
                    <div class="unfollow-btn" data-id-one="{{ user_.username }}"><img
                            src="{% static 'image/follow.png' %}" alt="" data-id-one="{{ user_.username }}"><img
                            src="{% static 'image/check.png' %}" alt="" data-id-one="{{ user_.username }}"></div>
                    {% else %}
                    <a href="{% url 'instagram:follow' username=user_.username %}" class="follow-btn"><b>팔로우</b></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
        {% endif %}
        <section class="search-result-tag" id="search-result-tag-like">
            <h3>인기 게시물</h3>
            <article class="posts">
                {% for post in tag_result_like %}
                <a href="{% url 'instagram:post_detail' pk=post.pk %}"><img src="{{ post.main_image.url }}" alt=""
                        class="post-image"></a>
                {% endfor %}
            </article>
        </section>
        <section class="search-result-tag" id="search-result-tag-date">
            <h3>최신 게시물</h3>
            {% for post in tag_result_date %}
            <a href="{% url 'instagram:post_detail' pk=post.pk %}"><img src="{{ post.main_image.url }}" alt=""
                    class="post-image"></a>
            {% endfor %}
        </section>
        {% endif %}
    </article>
</main>

{% endblock body %}