{% extends 'base.html' %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<div class="wrapper">
    <div>
        <h1>수정하기</h1>
        {{ error }}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for image in images %}
            <img src="{{ image.image.url }}">
            {% endfor %}
            <table>
                {{ post_form.as_table }}
            </table>
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock body %}