{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<script defer src="{% static 'js/update.js' %}"></script>
<script async>
    const tagList = []
    "{% for tag in post.posttag_set.all %}"
    tagList.push("{{ tag.text }}")
    "{% endfor %}"
</script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <div class="post-update">
        <p id="post-update-top-left">
            <span>
                <b>이미지 미리보기</b>
            </span>
        </p>
        <p id="post-update-top-right">
            <span>
                <b>글 남기기</b>
            </span>
            <button id="submit-btn">다음</button>
        </p>
        <div class="slide-image" id="post-update-bot-left" data-id="{{ images|length }}">
            <div id="prev-btn">◀</div>
            <div id="next-btn">▶</div>
            <div id="multiple-container">
                <div>
                    <img src="{{ post.main_image.url }}" alt="" class="post-image">
                </div>
                {% for image in images %}
                <div>
                    <img src="{{ image.image.url }}" alt="" class="post-image">
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="post-update-bot-right">
            <p><b>내용</b></p>
            <form method="POST" enctype="multipart/form-data" id="post-comment-form">
                {% csrf_token %}
                {{ post_comment_form }}
                <input type="submit" id="real-submit-btn" hidden>
            </form>
            <section id="post-tag-section">
                <p><b>기존 태그</b></p>
                <div id="post-tag-div">
                    {% for tag in post.posttag_set.all %}
                    <a href="{% url 'instagram:search' %}?search_for={{ tag.text }}"
                        class="hash-tag-href">{{ tag.text }}</a>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock body %}