{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'base_instagram.html' %}
<script defer src="{% static 'js/post.js' %}"></script>
{% endblock head %}

{% block body %}
<header>
    {% include 'base_header.html' %}
</header>
<main class="instagram-main">
    <div class="post-update">
        <p id="post-update-top-left">
            <span>
                <b>이미지 미리보기</b>
            </span>
        </p>
        <p id="post-update-top-right">
            <span>
                <b>내용</b>
            </span>
            <button id="submit-btn">다음</button>
        </p>
        <div class="slide-image" id="post-update-bot-left">
            <div id="prev-btn">◀</div>
            <div id="next-btn">▶</div>
            <div id="multiple-container"><img src="{% static 'image/dummy_image.jpg' %}" class="post-image"></div>
        </div>
        <div id="post-update-bot-right">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ post_comment_form }}
                <input type="submit" id="real-submit-btn" hidden>
            </form>
        </div>
    </div>
</main>
{% endblock body %}