@import "reset.css";

main {
  justify-content: center;
}

#login-article {
  display: flex;
  flex-direction: row;
}

#registration-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper {
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  padding: 1.6rem 2rem;
  text-align: center;
  width: 16rem;
  background-color: white;
}

.wrapper h2 {
  font-size: 1rem;
  margin: 1rem;
  color: lightslategray;
  font-weight: bolder;
}

.wrapper span {
  font-size: 0.9rem;
}

.wrapper a {
  text-decoration: unset;
  color: dodgerblue;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

form input {
  margin: 0.2rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 0.8rem;
  color: black;
}

form input[type="submit"] {
  background-color: dodgerblue;
  color: white;
  font-weight: bolder;
  margin-top: 1rem;
  border: none;
  padding: 0.4rem;
  cursor: pointer;
}

/* delete account */
#delete-account-input::placeholder {
  font-size: 0.7rem;
  text-align: center;
}

.href-btn:link,
.href-btn:visited,
.href-btn:active {
  background-color: dodgerblue;
  color: white;
  font-weight: bolder;
  margin-top: 1rem;
  border-radius: 0.2rem;
  border: none;
  padding: 0.4rem;
  font-size: 0.9rem;
}
