{% load static %}
<article>
    <a href="{% url 'instagram:index' %}"><img src="{% static 'image/instagram_small.png' %}" id="instagram-image"
            tabindex="0"></a>
    <form action="{% url 'instagram:search' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search_for" placeholder="검색" required id="search-input">
    </form>
    <nav>
        {% if page_name == "index" %}
        <a href="{% url 'instagram:index' %}"><img src="{% static 'image/home_black.png' %}"></a>
        {% else %}
        <a href="{% url 'instagram:index' %}"><img src="{% static 'image/home.png' %}"></a>
        {% endif %}
        {% if request.path == "/instagram/dm/" %}
        <a href="{% url 'instagram:dm' %}"><img src="{% static 'image/dm_black.png' %}"></a>
        {% else %}
        <a href="{% url 'instagram:dm' %}"><img src="{% static 'image/dm.png' %}"></a>
        {% endif %}
        {% if request.path == "/instagram/notice/" %}
        <a href="{% url 'instagram:notice' %}"><img src="{% static 'image/notice_black.png' %}"></a>
        {% else %}
        <a href="{% url 'instagram:notice' %}"><img src="{% static 'image/notice.png' %}"></a>
        {% endif %}
        {% if user_ == user or page_name == "profile" %}
        <a href="{% url 'instagram:user_detail' username=user.username %}"><img
                src="{% static 'image/profile_black.png' %}"></a>
        {% else %}
        <a href="{% url 'instagram:user_detail' username=user.username %}"><img
                src="{% static 'image/profile.png' %}"></a>
        {% endif %}
    </nav>
</article>