a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#feed a:hover {
  text-decoration: underline;
}

#feed a:active {
  color: lightslategray;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  align-items: center;
}

header article {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 0.4rem;
}

.instagram-image:active {
  opacity: 30%;
}

article nav {
  display: flex;
  flex-direction: row;
}

nav .nav-div {
  margin-left: 1rem;
}

nav a img {
  width: 2rem;
}

.image-box {
  width: 2rem;
  height: 2rem;
  border-radius: 70%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav .nav-menu {
  display: none;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 1rem lightgray;
  text-align: left;
  background-color: white;
  color: darkslategray;

  width: 10rem;
}

nav .nav-menu li {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin: 0.7rem;
  font-size: 0.9rem;
}

nav .nav-menu li img {
  width: 1rem;
  margin: 0;
}

nav .nav-menu a:active {
  background-color: lightgray;
}

hr {
  margin: 0;
  border: 0;
  height: 0.01rem;
  background-color: lightgray;
}

nav .nav-menu hr {
  width: 10rem;
}

input {
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 0.8rem;
  color: black;
}

input#search-input {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.4rem;
  width: 10rem;
}

main.instagram-main {
  grid-column: 2;
  margin-top: 5rem;
}

main #feed {
  display: flex;
  flex-direction: column;
}

aside {
  position: fixed;
  top: 10%;
  left: 60%;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  text-align: left;
  width: 34rem;
  background-color: white;
  color: darkslategray;
}

.post-wrapper a {
  text-decoration: unset;
  font-size: 0.9rem;
  font-weight: bold;
}

.feed-post {
  padding: 1rem;
  font-size: 0.9rem;
}

.post-top {
  display: grid;
  grid-template-columns: 10fr 1fr;
  height: 4rem;
  align-items: center;
}

.post-top .post-user {
  grid-column: 1;
}

.post-top .post-btn {
  grid-column: 2;
}

.post-top .post-btn img {
  cursor: pointer;
  width: 1.5rem;
  padding: 0.5rem;
  height: auto;
}

.post-image {
  width: 34rem;
  height: auto;
}

.post-bot div {
  display: block;
  padding: 0.3rem 0;
}

.post-bot .post-like,
.post-bot .comment-author {
  font-weight: bold;
}

.post-bot .post-comment {
  padding: 0.1rem 0;
}

.post-bot .post-create-date {
  font-size: 0.7rem;
  color: silver;
}

#multiple-container {
  display: flex;
  flex-direction: row;
}

/* profile-edit */
#profile-edit-article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: white;
  min-height: 40rem;
}

#profile-edit-left {
  grid-column: 1;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
}

#profile-edit-left li {
  cursor: pointer;
  padding: 1rem 2rem;
  border: 0.2rem solid white;
}

#profile-edit-left li:hover {
  border-left: 0.2rem solid lightgray;
}

#profile-edit-left li:active {
  opacity: 50%;
}

#profile-edit-left li.clicked {
  border-left: 0.2rem solid black;
}

#profile-edit-right {
  grid-column: 2;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-left: none;
}

/* user-detail */
#user-detail-top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2rem;
  padding-top: 0;
}

#user-detail-top h2 {
  font-size: 2rem;
  font-weight: 100;
}

#user-detail-top .image-box {
  width: 10rem;
  height: 10rem;
}

#user-detail-top #user-detail-info-top {
  gap: 1rem;
}

#user-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#user-detail-info #user-detail-info-bot {
  gap: 1rem;
}

#user-detail-bot .post-image {
  width: 18rem;
  padding: 0.8rem;
}

.btn {
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 0.4rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.margin {
  margin: 1rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#user-detail-bot #user-detail-nav {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 0.8rem;
}

.profile-edit-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.profile-edit-form p,
.profile-edit-form .profile-edit-form-div {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-edit-form .profile-edit-form-div {
  margin-bottom: 2rem;
}

.profile-edit-form .profile-edit-form-div .image-box {
  width: 2.5rem;
  height: 2.5rem;
}

.profile-edit-form p label,
.profile-edit-form .profile-edit-form-div div {
  position: absolute;
  right: 75%;
  padding: 0.7rem;
  font-weight: bold;
}

.profile-edit-form p input[type="password"],
.profile-edit-form .profile-edit-form-div h2 {
  position: absolute;
  left: 28%;
  width: 25rem;
  padding: 0.6rem;
}

.profile-edit-form p input[type="password"] {
  border-radius: 0.6rem;
}

.profile-edit-form p input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.05rem black;
}

.profile-edit-form .profile-edit-form-div h2 {
  font-size: 1.5rem;
}

#profile-edit-submit {
  position: absolute;
  left: 28%;
  background-color: dodgerblue;
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
  margin-top: 1rem;
  border: none;
  padding: 0.4rem;
  cursor: pointer;
}
