header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  align-items: center;
}

header article {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 0.4rem;
}

#instagram-image:active,
nav a img:active {
  opacity: 30%;
}

nav a img {
  margin-left: 1rem;
  width: 2rem;
}

input {
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 0.8rem;
  color: black;
}

input#search-input {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.4rem;
  width: 10rem;
}

main.instagram-main {
  grid-column: 2;
  margin-top: 5rem;
}

main #feed {
  display: flex;
  flex-direction: column;
}

aside {
  position: fixed;
  top: 10%;
  left: 60%;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  text-align: left;
  width: 34rem;
  background-color: white;
  color: darkslategray;
}

.post-wrapper a {
  text-decoration: unset;
  font-size: 0.9rem;
  font-weight: bold;
}

.feed-post {
  padding: 1rem;
  font-size: 0.9rem;
}

.post-top {
  display: grid;
  grid-template-columns: 10fr 1fr;
  height: 4rem;
  align-items: center;
}

.post-top .post-user {
  grid-column: 1;
}

.post-top .post-btn {
  grid-column: 2;
}

.post-top .post-btn img {
  cursor: pointer;
  width: 1.5rem;
  padding: 0.5rem;
  height: auto;
}

.post-mid img {
  width: 34rem;
  height: auto;
}

.post-bot div {
  display: block;
  padding-bottom: 0.5rem;
}

.post-bot .post-like,
.post-bot .comment-author {
  font-weight: bold;
}

.post-bot .post-create-date {
  font-size: 0.7rem;
  color: silver;
}

#multiple-container {
  display: flex;
  flex-direction: row;
}
