header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  align-items: center;
}

header article {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 0.4rem;
}

#instagram-image:active,
nav a img:active {
  opacity: 30%;
}

nav a img {
  margin-left: 1rem;
  width: 2rem;
}

input {
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 0.8rem;
  color: black;
}

input#search-input {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.4rem;
  width: 10rem;
}

main.instagram-main {
  grid-column: 2;
  margin-top: 5rem;
}

main #feed {
  display: flex;
  flex-direction: column;
}

aside {
  position: fixed;
  top: 10%;
  right: 40%;
}

.wrapper {
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  padding: 1.6rem 2rem;
  text-align: center;
  width: 30rem;
  background-color: white;
}

.wrapper h2 {
  font-size: 1rem;
  margin: 1rem;
  color: lightslategray;
  font-weight: bolder;
}

.wrapper span {
  font-size: 0.9rem;
}

.wrapper a {
  text-decoration: unset;
  color: dodgerblue;
}

#multiple-container {
  display: flex;
  flex-direction: row;
}
