{% extends 'base.html' %}

{% block body %}

<div class="wrapper">
    <div>
        <h1>로그인</h1>
        {{ error }}
        <form method="POST">
            {% csrf_token %}
            아이디: <br>
            <input name="username" type="text" required>
            <br>
            비밀번호: <br>
            <input name="password" type="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
<form action="{% url 'registration:signup' %}">
    <input type="submit" value="Sign Up">
</form>

{% endblock body %}