{% extends 'base.html' %}
{% load static %}
{% block head %}
{% include 'base_registration.html' %}
{% endblock head %}

{% block body %}
<main id="registration-main">
    <article id="login-article">
        <img src="{% static 'image/phone.png' %}">
        <section id="registration-section">
            <section class="wrapper">
                <img src="{% static 'image/instagram.png' %}">
                <div>
                    {% for message in messages %}
                    {{ message.message }}
                    {% endfor %}
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <input name="username" type="text" required placeholder="아이디" spellCheck="false">
                    <input name="password" type="password" required placeholder="비밀번호">
                    <input type="submit" value="로그인">
                </form>
            </section>
            <section class="wrapper">
                <span>
                    계정이 없으신가요?
                    <a href="{% url 'registration:signup' %}">가입하기</a>
                </span>
            </section>
        </section>
    </article>
</main>

{% endblock body %}