{% extends 'base.html' %}
{% load static %}
{% block head %}
{% include 'base_registration.html' %}
{% endblock head %}

{% block body %}
<main id="registration-main">
    <article>
        <section id="registration-section">
            <section class="wrapper">
                <img src="{% static 'image/instagram.png' %}">
                <h2>친구들의 사진과 동영상을 보려면 가입하세요.</h2>
                <div>
                    {% for message in messages %}
                    {{ message.message }}
                    {% endfor %}
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <input name="username" type="text" required placeholder="아이디">
                    <input name="password1" type="password" required placeholder="비밀번호">
                    <input name="password2" type="password" required placeholder="비밀번호 확인">
                    <input name="email" type="email" required placeholder="이메일">
                    <input type="submit" value="가입">
                </form>
            </section>
            <section class="wrapper">
                <span>
                    계정이 있으신가요?
                    <a href="{% url 'registration:login' %}">로그인</a>
                </span>
            </section>
        </section>
    </article>
</main>

{% endblock body %}